
    *{
      align-self: center;
      background-color: #f1f1f1;
    }

    body{
       background-color: #f1f1f1;
       align-self: center;
       width: 100%;
       height:100%;
    }

    #comments{
      background-color:#d1d3dd;
    }

   #content{
   	width: 100%;
    height: 100px;
    font-size:5;
    text-align: center;
   	margin: 15px auto;
   }

   form{
    height: 550px;
    background-color: #d1d3dd;
   	width: 50%;
    border-radius: 25px;
   	margin: 10px auto;
   }
   
   #img{
    border-radius: 10px;
   	width: 40%;
    height: 80%;
   	border: 1px solid black 7px;
   }
    #img1{
    border-radius: 10px;
    width: 40%;
    height: 80%;
    border: 1px solid black 7px;
   }
   #img_div:after{
   	content: "";
   	display: block;
   	clear: both;
   }

   #image_container{
    align-content: center;
    padding-top: 50px;
    width: 100%;
    height: 90%;
    position: relative;
    text-align: center;
  }

  #Clock{
    text-align: center;
    font-size: 60px;
  }

